body {
  font-family: 'Questrial', sans-serif;
}

.week1p {
  font-weight: bold;
  font-size: 24pt;
}

.verticalNav {
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 80px;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
  border-right: 1px solid black;
  top: 0;
  left: 0;
}

.verticalNav > li {
  padding: 10px;
  text-align: center;
}

.verticalNav > li:first-child {
  padding-top: 40px;
}

.menuLink {
  text-decoration: none;
  font-family: 'Helvetica';
  font-size: 16px;
  color: black;
  border: none;
  background-color: white;
  outline: none;
}

.menuLink:hover {
  cursor: pointer;
}

.content {
  position: relative;
  left: 7%;
}

#content1 {
}

#content2 {
  margin-top: 36px;
}

#content3 {
  margin-top: 36px;
}

.bar {
  display: inline-block;
  width: 20px;
  height: 75px;
  background-color: #58a9d8;
  margin-right: 2px;
}

.drawingDiv {
  margin: 30px 0px 30px 0px;
}

.strokeDot {
  fill: white;
  stroke: black;
  stroke-width: 1px;
}

.axis path, .axis line {
  stroke: teal;
  shape-rendering: crispEdges;
}
